<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout "
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content">
    <div class = "apply">
        <h>Here you can apply for a job!</h>
        <p>When can you work for us?</p>
        <br>

        <form action="#" th:action="@{/apply}" th:object="${applicationForm}" method="post">
            <p>From</p>
            <input type="text" placeholder="Ex: 2019-04-21" th:field="*{fromDate}" />
            <span class="error"
                  th:if="${#fields.hasErrors('fromDate')}"
                  th:errors="*{fromDate}">
            </span>
            To
            <input type="text" placeholder="Ex: 2020-02-12" th:field="*{toDate}" />
            <span class="error"
                  th:if="${#fields.hasErrors('toDate')}"
                  th:errors="*{toDate}">
            </span>
            <br>
            <br>
            <p>Choose the expertise you have the most of!</p>
            <select th:field="*{competence}">
                <option th:value="grill_handler" th:text="grill-handler"></option>
                <option th:value="carousel_administrator" th:text="carousel-admin"></option>
                <option th:value="spookyhouse_administratior" th:text="spookyhouse-admin"></option>
            </select>
            <br>
            <br>
            <p>How many years of experience do you have with this expertise?</p>
            <input type="text" th:field="*{yearsOfExperience}" />
            <span class="error"
                  th:if="${#fields.hasErrors('yearsOfExperience')}"
                  th:errors="*{yearsOfExperience}">
            </span>
            <br>
            <br>
            <input type="submit" value="send" />
        </form>
    </div>
</main>
</body>
</html>