<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content">
    <div class = "login">
        <h1>Enter information to login</h1>
        <a href="/register">I dont have an account</a>
        <br>
        <br>
        <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
            <p>Username</p>
            <input type="text" th:field="*{username}" />
            <br>
            <p>Password</p>
            <input type="password" th:field="*{password}" />
            <br>
            <div class="error" th:if="${param.logout} "
                <span th:text="${'You have been logged out!'}"></span>
            </div>
            <div class="error" th:if="${param.error} "
                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <span th:text="${errorMsg}"></span>
            </div>
            <input type="submit" value="Login" />
            <br>
        </form>
    <a href="/updateAccount">I forgot my username/password</a>
    </div>
</main>
</body>
</html>