<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content">
    <div class = "login">
        <h1 th:text="#{login.header}">Enter information to login</h1>
        <a href="/register" th:text="#{login.reg-link}">I dont have an account</a>
        <br>
        <br>
        <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
            <p th:text = "#{login.field.username}">Username</p>
            <input type="text" th:field="*{username}" />
            <br>
            <p th:text = "#{login.field.password}">Password</p>
            <input type="password" th:field="*{password}" />
            <br>
            <div class="error" th:if="${param.logout} ">
                <span th:text="${'You have been logged out!'}"></span>
            </div>
            <div class="error" th:if="${param.error} "
                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <span th:text="#{AbstractUserDetailsAuthenticationProvider.badCredentials}"></span>
            </div>
            <input type="submit" th:value="#{login.submit}" />
            <br>
        </form>
    <a href="/updateAccount.html" th:text="#{login.forget-password-or-username}">I forgot my username/password</a>
    </div>
</main>
</body>
</html>