<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content">
    <div class = "register">
        <h1>Register by filling out information fields</h1>
        <a href="/login">Already have a account</a>
        <br>
        <br>
        <form action="#" th:action="@{/register}" th:object="${registrationForm}" method="post">
            <p>Name</p>
            <input type="text" th:field="*{name}" />
            <span class="error"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">
            </span>
            <br>
            <p>Surname</p>
            <input type="text" th:field="*{surname}" />
            <span class="error"
                  th:if="${#fields.hasErrors('surname')}"
                  th:errors="*{surname}">
            </span>
            <br>
            <p>Email</p>
            <input type="text" th:field="*{email}" />
            <span class="error"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">
            </span>
            <br>
            <p>Date of birth</p>
            <input type="text" placeholder="Example 19950422-XXXX" th:field="*{ssn}" />
            <span class="error"
                  th:if="${#fields.hasErrors('ssn')}"
                  th:errors="*{ssn}">
            </span>
            <br>
            <p>Username</p>
            <input type="text" th:field="*{username}" />
            <span class="error"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">
            </span>
            <br>
            <p>Password</p>
            <input type="password" th:field="*{password}" />
            <span class="error"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">
            </span>
            <br>
            <br>
            <input type="submit" value="Register" />
            <br>
        </form>
        <br>
    </div>
</main>
</body>
</html>