<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:fragment="header">
    <p th:text="#{header.header}">Amusement Park</p>
    <span class="lang" th:text="#{header.lang.change}"></span>:
    <a class="lang" id="englishLink" href = "?lang=en" th:text="#{header.lang.en}"></a>
    <a class="lang" id="swedishLink" href = "?lang=sv" th:text="#{header.lang.sv}"></a>
</header>
</body>
</html>