<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<information id="information" th:fragment="information">
    <Strong>
        <div sec:authorize="isAuthenticated()">
            <span th:text = "#{information.user-status}">Logged in as:</span>
            <span sec:authentication="name">Bob</span>
            <br>
            <br>
            <div th:text = "#{information.role.applicant}" sec:authorize="hasRole('ROLE_applicant')">
                Your role: Applicant
            </div>
            <div th:text = "#{information.role.recruiter}" sec:authorize="hasRole('ROLE_recruit')">
                Your role: Recruiter
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" th:value="#{information.sign-out}"/>
            </form>
        </div>
    </Strong>
</information>
</body>
</html>